<p id="notice"><%= notice %></p>

<%= render :partial => @shipment %>


<%= link_to 'Edit', edit_speciman_shipment_path(@speciman, @shipment) %> |
<%= link_to 'Back', speciman_shipments_path(@speciman) %>
